# Electron 下载加速（淘宝镜像）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# better-sqlite3 预编译包加速
better_sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3
# 默认 registry
registry=https://registry.npmmirror.com/
